div.content.article
	div#article
		h1 Article Title
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis consequat tincidunt diam ac molestie. Pellentesque vestibulum ante sed est egestas pretium. Praesent blandit diam et mi rhoncus placerat. Etiam suscipit, lacus vel luctus ultrices, ante nunc placerat elit, et lobortis magna arcu at neque. Cras justo erat, vestibulum nec aliquam et, viverra ut ipsum. Nullam mattis mauris quis ante volutpat ultrices. Curabitur laoreet, velit at faucibus faucibus, dolor felis consectetur velit, vel rhoncus lacus tellus ac urna. Fusce eget dui non nunc sagittis egestas.
		p Nam pretium lacinia imperdiet. Mauris fermentum urna id eros iaculis eu auctor libero varius. Nulla convallis neque ut elit aliquet ut sagittis lorem dictum. In et felis hendrerit mauris sollicitudin tempor. Quisque imperdiet imperdiet ligula, quis posuere neque faucibus ac. Nullam commodo iaculis orci, ut cursus risus ornare a. Aliquam sed justo a libero aliquam cursus sit amet sit amet eros. Morbi fermentum accumsan libero quis adipiscing. Curabitur eget metus sit amet diam semper eleifend. Mauris sed tellus id justo euismod gravida. In lobortis velit ac est ornare dictum. Curabitur vel odio convallis lorem interdum hendrerit.
		
		h2 Section Title
		p Morbi massa justo, porttitor et lacinia ut, porttitor eu arcu. Suspendisse purus libero, rhoncus quis suscipit vitae, tincidunt porta dui. Vivamus sodales laoreet ornare. Vestibulum lacinia nunc ac quam sagittis malesuada. Sed sagittis venenatis lectus non porttitor. Nunc a nibh quam, nec porttitor diam. Suspendisse laoreet fermentum vestibulum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc luctus pellentesque euismod.
		code
			div line.of.code();
			div console.log("This is a code sample");
			br
			div line.of.code(sample);
		p Ut id dolor non tortor fringilla interdum. Aliquam quis nisl lorem, sed vehicula elit. Nullam eleifend volutpat vestibulum. Nulla facilisi. Sed congue, massa aliquet malesuada iaculis, dolor tortor bibendum velit, eget euismod mi magna a sem. Suspendisse pellentesque vestibulum diam, quis ornare enim ultricies non. Suspendisse tristique magna nec justo varius ac porttitor risus lacinia. Sed vulputate turpis eget libero auctor ultrices tincidunt nunc faucibus.
		p Duis augue sem, ornare a accumsan nec, tempus quis ligula. Vivamus faucibus suscipit lacus ac feugiat. Sed lacus sapien, sollicitudin sed egestas at, adipiscing a purus. Mauris lobortis mattis turpis et luctus. Maecenas euismod, orci vel iaculis rhoncus, metus magna fermentum sapien, vel commodo dui sem dapibus erat. Nullam semper vehicula venenatis. Aliquam risus libero, ultricies scelerisque elementum vitae, semper quis quam. Aenean sagittis bibendum enim nec euismod. Nam egestas tortor urna, a blandit dui. Integer consectetur, dui vel condimentum auctor, libero lorem aliquam diam, eleifend elementum urna nisl in augue. Vivamus eget magna nec ante consequat eleifend vitae in sapien. Suspendisse viverra sodales lectus, at pharetra orci gravida sed.
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis consequat tincidunt diam ac molestie. Pellentesque vestibulum ante sed est egestas pretium. Praesent blandit diam et mi rhoncus placerat. Etiam suscipit, lacus vel luctus ultrices, ante nunc placerat elit, et lobortis magna arcu at neque. Cras justo erat, vestibulum nec aliquam et, viverra ut ipsum. Nullam mattis mauris quis ante volutpat ultrices. Curabitur laoreet, velit at faucibus faucibus, dolor felis consectetur velit, vel rhoncus lacus tellus ac urna. Fusce eget dui non nunc sagittis egestas.
		
		h2 Section Title
		p Nam pretium lacinia imperdiet. Mauris fermentum urna id eros iaculis eu auctor libero varius. Nulla convallis neque ut elit aliquet ut sagittis lorem dictum. In et felis hendrerit mauris sollicitudin tempor. Quisque imperdiet imperdiet ligula, quis posuere neque faucibus ac. Nullam commodo iaculis orci, ut cursus risus ornare a. Aliquam sed justo a libero aliquam cursus sit amet sit amet eros. Morbi fermentum accumsan libero quis adipiscing. Curabitur eget metus sit amet diam semper eleifend. Mauris sed tellus id justo euismod gravida. In lobortis velit ac est ornare dictum. Curabitur vel odio convallis lorem interdum hendrerit.
		p Morbi massa justo, porttitor et lacinia ut, porttitor eu arcu. Suspendisse purus libero, rhoncus quis suscipit vitae, tincidunt porta dui. Vivamus sodales laoreet ornare. Vestibulum lacinia nunc ac quam sagittis malesuada. Sed sagittis venenatis lectus non porttitor. Nunc a nibh quam, nec porttitor diam. Suspendisse laoreet fermentum vestibulum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc luctus pellentesque euismod.
		p Ut id dolor non tortor fringilla interdum. Aliquam quis nisl lorem, sed vehicula elit. Nullam eleifend volutpat vestibulum. Nulla facilisi. Sed congue, massa aliquet malesuada iaculis, dolor tortor bibendum velit, eget euismod mi magna a sem. Suspendisse pellentesque vestibulum diam, quis ornare enim ultricies non. Suspendisse tristique magna nec justo varius ac porttitor risus lacinia. Sed vulputate turpis eget libero auctor ultrices tincidunt nunc faucibus.
		p Duis augue sem, ornare a accumsan nec, tempus quis ligula. Vivamus faucibus suscipit lacus ac feugiat. Sed lacus sapien, sollicitudin sed egestas at, adipiscing a purus. Mauris lobortis mattis turpis et luctus. Maecenas euismod, orci vel iaculis rhoncus, metus magna fermentum sapien, vel commodo dui sem dapibus erat. Nullam semper vehicula venenatis. Aliquam risus libero, ultricies scelerisque elementum vitae, semper quis quam. Aenean sagittis bibendum enim nec euismod. Nam egestas tortor urna, a blandit dui. Integer consectetur, dui vel condimentum auctor, libero lorem aliquam diam, eleifend elementum urna nisl in augue. Vivamus eget magna nec ante consequat eleifend vitae in sapien. Suspendisse viverra sodales lectus, at pharetra orci gravida sed.

div#articleMenu
	div.sec
	div.sec
	div.sec
div#articleNav.off
	div.content
		p.section Link
		p Longer Link
		p Link
		p Link
		p.section Longer Link
		p Link
		p Link
		p Longer Link
		p Link
		p.section Link
		p Longer Link
		p Link

div.clear

script(src='/public/lib/js/article.js')