div.content
	div.container
		div.span10.offset1
			div add form to select the kinds of enrichments
			
//script(src='/public/lib/js/parseSentiments.js')
//script
	//parseData(!{JSON.stringify(data)});