div.hero.content
	div.left
		img.logo(src='public/img/pointBank.png')
	div.right
		h1 Point&nbsp;Bank
		h3 A <span class='accent'>better</span> way to collect geodata 
	div.clear
	
div.content
	div.column
		h2 What is it?
		p Point Bank is a project designed to facilitate in the data collection process for various research projects. It will collect data from various sources, with a particular focus on Twitter.
	div.column
		h2 Why use it?
		p Point Bank collects and pretreats data, standardizing the location and time fields. It handles the heavy lifting of location extraction, data manipulation, and format conversion, and returns clean valid data.
	div.column.odd
		h2 How to use it.
		p 
			a.button.long(href='/api') Documentation
			a.long.button(href='https://github.com/catdad/PointBank', target='_blank') GitHub Page